html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.title-header {
  text-align: center;
  color:red ;
  font-size: 26px;
}

.change {
  display: flex !important;
}

.change-size {
  background: linear-gradient(135deg, #fbc6ff 20%, #bdfff9 90%);
  border: 2px solid blue;
  height: 150px;
  width: 100%;
}

.change-color {
  background: linear-gradient(135deg, #fbc6ff 20%, #bdfff9 90%);
  border: 2px solid green;
  height: 150px;
  width: 100%;
}

.change-color .content button {
  height : 50px;
  width: 50px;
  margin: 0px 5px;
  border: none;
}

.change-color .content button:focus{
  border: 3px solid #000;
}



.result p{
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}